/* Ustawienia dla całego dokumentu */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ważne, aby HTML i body zajmowały 100% wysokości okna przeglądarki */
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  /* Główna zawartość */
  .content {
    flex: 1; /* Wypełnij dostępną przestrzeń */
  }
  
  /* Stopka */
  .footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-about,
  .footer-links,
  .footer-contact {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .footer p, 
  .footer ul {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer ul li a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer ul li a:hover {
    color: #1abc9c;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid #34495e;
    padding-top: 10px;
  }
  